:root {
  /* Colors */
  --color-primary: #ff6f20;
  --color-primary-2: #5b2e5e;
  --color-secondary-1: #ff1f40;
  --color-secondary-2: #ffdd1f;
  --color-accent: #ff7a24;
  --color-neutral-1000: #f9f9f9;
  --color-neutral-900: #dededd;
  --color-neutral-800: #c4c3c2;
  --color-neutral-700: #aaa7a6;
  --color-neutral-600: #908c8a;
  --color-neutral-500: #75716f;
  --color-neutral-400: #5a5654;
  --color-neutral-300: #3f3b3a;
  --color-neutral-200: #232120;
  --color-neutral-100: #070606;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;

  /* Typography */
  --font-size-xs: 10.24px;
  --line-height-xs: 1.6;
  --font-size-sm: 12.8px;
  --line-height-sm: 1.6;
  --font-size-base: 16px;
  --line-height-base: 1.6;
  --font-size-lg: 20px;
  --line-height-lg: 1.4;
  --font-size-xl: 25px;
  --line-height-xl: 1.3;
  --font-size-2xl: 31.25px;
  --line-height-2xl: 1.2;
  --font-size-3xl: 39.06px;
  --line-height-3xl: 1.1;
  --font-size-4xl: 48.83px;
  --line-height-4xl: 1.1;
  --font-size-5xl: 61.04px;
  --line-height-5xl: 1.1;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-64: 256px;
}